body {
    background-color: darkgray;
   }
   
   .container {
    width: 340px;
    margin: 50px auto;
    padding: 50px;
    background-image:url(bg.jpg);
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
   }
   
   .button {
    font-size: x-large;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4ac44e;
    color: white;
    text-decoration: none;
    border-radius: 4px;
   }
   .button:hover{
    background-color: darkgreen;

   }
   h1{
    font-size: 4rem;

   }
   p{
    font-size: x-large;
   }